.answer-container{
    width: 210px;
    overflow-y: auto;
    margin: 0 auto;
}

.question-text{
    font-size: 29px;
    display: flex;
    justify-content: center;
}

.answer-button{
    width: 100px;
    height: 50px;
}

.score-text{
    font-size: 25px;
    display: flex;
    justify-content: center;
}